.content-grid {
    background-color: rgb(255, 243, 176);
    width: 1100px;
    height: 600px;
    border-radius: 2rem;
    display: grid;
    grid-template: repeat(10, 1fr) / 1fr;
    padding: 15px;

    li {
        list-style-type: none;
        display: flex;
        align-items: center;
        padding-left: 10px;
        border-bottom: rgb(255, 191, 95) 2px solid;
        gap: 20px;
    };
};

.details-div {
    display: flex;
    position: absolute;
    justify-self: center;
    align-self: center;  
    background-color: rgb(235, 213, 114); 
    height: 400px;
    width: 800px;

    button {
        height: 50px;
        width: 50px;
    };

};